@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body.dark-mode #eingabe {
  background-color: #2c2929;
}

body.dark-mode #interimResult {
  background-color: #2c2929;
}

#interimResult {
  text-align: right;
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 2rem;
  background-color: #fce6e6;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

body.dark-mode {
  background-color: black;
  color: var(--primarycolor);

  --primarycolor: #398522;
}

body.dark-mode .item {
  background-color: #2c2929;
  color: var(--primarycolor);
  border: 1px solid var(--primarycolor);
}

body.dark-mode #list {
  border-left: 1px solid var(--primarycolor);
  background-color: #2c2929;
}

#input {
  margin-bottom: 1.5rem;
  text-align: right;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #fadbdb;
  border-radius: 5px;
}

.pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.4rem;
}

.item {
  background-color: #fadbdb;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #f38d8d;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.op {
  background-color: #f38d8d;
}

.item:hover {
  transition: all 0.2s ease-in-out;
  background-color: #f8eded;
  cursor: pointer;
  transform: scale(0.96);
}

body.dark-mode .pad .item:hover {
  background-color: #2a4b1d;
}
.op:hover {
  background-color: #f79e9e;
}

#list {
  width: 30rem;
  text-align: right;
  border-left: 1px solid #f38d8d;
  border-radius: 5px;
  height: 100vh;
  margin-left: 1rem;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fadbdb;
}

.wrapper {
  margin-top: 1rem;
  display: flex;
}

.calculator {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .item {
    font-size: 1.2rem;
    width: 100%;
  }

  #list {
    width: 100%;

    margin: 1rem auto;
    height: auto;
    font-size: 1.5rem;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
